{{ $persons_services := "services/persons_services.html" }}
{{ if templates.Exists ( printf "partials/%s" $persons_services ) }}
  {{ partial $persons_services . }}
{{ end }}
{{ $posts_services := "services/posts_services.html" }}
{{ if templates.Exists ( printf "partials/%s" $posts_services ) }}
  {{ partial $posts_services . }}
{{ end }}
{{ $publications_services := "services/publications_services.html" }}
{{ if templates.Exists ( printf "partials/%s" $publications_services ) }}
  {{ partial $publications_services . }}
{{ end }}
